@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventario De Productos</h1>
    <p class="lead">Sistema de servicios, inventario, registro de empresas</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
